h1 {
    background-color: #031d44;
    color: white;
    border-radius: 2px black solid;
    padding: 1em;
    
}
body {
    background-color: #dab785;
}
ul {
    margin: 0 auto;
    text-align: center;
        a {
        text-decoration: none;
        color: white;
        margin: 0 auto;
    }
    list-style-type: none;
    li {
        background-color: #04395e;
        padding: .5em;
        max-width: 100%;
        text-align: center;
        margin: -.15em;
        display: inline-block;
        &:hover {
            background-color: #031d44;
        }
    }

}

/*
colors
031d44 -- oxford blue
04395E -- prussian blue
70a288 -- polished pine
dab785 -- burlywood
d5896f -- copper crayola
*/